@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the F1 Driver API!</h1>
  <p>Get to know a few of <a href="/teams">our teams</a> from this season!</p>
</div>