@{
    ViewData["Name"] = "Teams";
}

<h1>All F1 Teams:</h1>
<h3>Actions:</h3>
<p>@Html.ActionLink("Add a new team", "Create")</p>

<ol>
@foreach (Team team in Model)
{
  <li><strong>@team.TeamName</strong> | <a href="/Teams/Details/@(team.TeamId)">View Details</a></li>
}
</ol>